USE [IHCPAS]
GO
/****** Object:  User [IHCPAS]    Script Date: 29/12/2017 11:39:40 ******/
CREATE USER [IHCPAS] FOR LOGIN [IHCPAS] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IHCPAS]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IHCPAS]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IHCPAS]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 29/12/2017 11:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[ID] [int] NULL,
	[TITLE] [varchar](100) NULL,
	[HOSPITALNUMBER] [varchar](100) NULL,
	[NHSNUMBER] [varchar](100) NULL,
	[FIRSTNAME] [varchar](100) NULL,
	[LASTNAME] [varchar](100) NULL,
	[ADDRESS1] [varchar](100) NULL,
	[ADDRESS2] [varchar](100) NULL,
	[ADDRESS3] [varchar](100) NULL,
	[ADDRESS4] [varchar](100) NULL,
	[POSTCODE] [varchar](100) NULL,
	[CARE_AGENT_ID] [int] NULL,
	[CAREAGENT] [varchar](100) NULL,
	[CACODE] [varchar](100) NULL,
	[RTYPE] [varchar](100) NULL,
	[STYPE] [varchar](100) NULL,
	[GENDER] [varchar](100) NULL,
	[DOB] [varchar](11) NULL,
	[TYPE] [varchar](100) NULL,
	[CAORGANISATION] [varchar](100) NULL,
	[CAORGANISATIONCODE] [varchar](100) NULL,
	[CATELEPHONE] [varchar](100) NULL,
	[NOK_GIVEN_NAME] [varchar](100) NULL,
	[NOK_FAMILY_NAME] [varchar](100) NULL,
	[ETHNIC_ORIGIN] [varchar](100) NULL,
	[NATIONALITY] [varchar](100) NULL,
	[ORGCODE] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[spSearchForPatient]    Script Date: 29/12/2017 11:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSearchForPatient] 
	-- Add the parameters for the stored procedure here
	@PatientID varchar(50), 
	@PatientIDType varchar(50), 
	@LastName varchar(50), 
	@FirstName varchar(50),
	@DoB varchar(50),
	@Address varchar(50) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @PatientID IS NOT NULL AND @PatientIDType='NhsNumber'
	BEGIN

		PRINT @DOB

		SELECT 
		 [HOSPITALNUMBER]
		,[NHSNUMBER]
		,[LASTNAME]
		,[FIRSTNAME]
		,'' [OTHERNAMES]
		,[TITLE]
		,CONVERT(datetime,[DOB],106) DoB
		,[address1]
		,[address2]
		,[address3]
		,[address4]
		,[postcode]
		,[Gender]          
		FROM [IHCPAS].[dbo].[Patients]
		WHERE rtrim([NHSNUMBER])=rtrim(@PatientID)
	END
	ELSE IF @PatientID IS NOT NULL AND  @PatientIDType='HospitalNumber'
	BEGIN
		SELECT 
		 [HOSPITALNUMBER]
		,[NHSNUMBER]
		,[LASTNAME]
		,[FIRSTNAME]
		,'' [OTHERNAMES]
		,[TITLE]
		,CONVERT(datetime,[DOB],106) DoB
		,[address1]
		,[address2]
		,[address3]
		,[address4]
		,[postcode]
		,[Gender]
		FROM [IHCPAS].[dbo].[Patients]
		WHERE rtrim([HOSPITALNUMBER])=rtrim(@PatientID)
	END
	ELSE
	BEGIN
		SELECT 
  		 [HOSPITALNUMBER]
		,[NHSNUMBER]
		,[LASTNAME]
		,[FIRSTNAME]
		,'' [OTHERNAMES]
		,[TITLE]
		,CONVERT(datetime,[DOB],106) DoB
		,[address1]
		,[address2]
		,[address3]
		,[address4]
		,[postcode]
		,[Gender]

		FROM [IHCPAS].[dbo].[Patients]
		WHERE
		(
			(
			@LastName IS NOT NULL OR @FirstName IS NOT NULL OR @DoB IS NOT NULL
			OR @Address IS NOT NULL
			)
			AND
			(
				(@LastName IS NULL OR upper(rtrim([LASTNAME])) like upper(rtrim(@LastName))+'%') AND
				(@FirstName IS NULL OR upper(rtrim([FIRSTNAME])) like upper(rtrim(@FirstName))+'%') AND
				(@DoB IS NULL OR [DOB] = @DoB) AND
				(@Address IS NULL OR upper([ADDRESS1]+[ADDRESS2]+[ADDRESS3]+[ADDRESS4]) LIKE '%'+upper(rtrim(@Address))+'%')
			)
		)
	END

END
GO
