<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="iCDR.FhirApi.Properties.Settings.iCDRConnectionString"
            connectionString="Data Source=NDC06SRVPOCSQL2;Initial Catalog=iCDR;Persist Security Info=True;User ID=iCDR;Password=iCDR"
            providerName="System.Data.SqlClient" />
        <add name="iCDR.FhirApi.Properties.Settings.WCDR_V2ConnectionString"
            connectionString="Data Source=NDC06SRVSQLTRRR;Initial Catalog=WCDR_V2;Persist Security Info=True;User ID=FHiRUser;Password=FH1RUser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>